/* General modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: var(--modal-width);
    max-width: 400px;
    height: var(--modal-height);
    background-color: #111;
    border: 3px solid #4e15ac;
    color: #0f0;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    opacity: 0.95;
    /* overflow: hidden; */
}

/* Class to show modal when needed */
.modal.show {
    display: flex;
    flex-direction: column;
}

/* Styles for modal content */
.modal-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-size: clamp(var(--min-font-size), calc(var(--base-font-size) * 0.8), var(--max-font-size));
}

/* Adjust spacing for headers */
.modal h2,
.modal h4 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: clamp(calc(var(--min-font-size) * 1.2), calc(var(--base-font-size) * 1.2), calc(var(--max-font-size) * 1.2));
}

/* Adjust spacing for content areas */
#upgradeOptions,
#upgradeShopModal .upgrade-container,
#shipCustomizationModal #shipPreview,
#pastScoresModal #pastScoresList,
#achievementsModal #achievementsDisplay,
/* #allLeaderboardsModal #allLeaderboardsContainer, */
#weaponDamageChartModal #weaponDamageChartContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    padding-top: 10px;
}

/* Style for upgrade options and similar items */
.upgrade-option,
.achievement,
.leaderboard-mode {
    margin-bottom: 5px;
    font-size: clamp(calc(var(--min-font-size) * 0.9), calc(var(--base-font-size) * 0.9), calc(var(--max-font-size) * 0.9));
}

/* Ensure buttons are at the bottom */
.modal-content button {
    margin-top: auto;
    padding: 8px 15px;
    font-size: clamp(calc(var(--min-font-size) * 0.9), calc(var(--base-font-size) * 0.9), calc(var(--max-font-size) * 0.9));
}